/*Declarando variavel*/
:root{
    --vermelho:#E50914;
    --preta:#141414;
}

/* Reset = Configurações para todo o código */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Elementos base*/
/* Configurações para body */
body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color:white;
}

/* Configurações class = container (sempre que for classe, puxar com . antes) */
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Configurações class = logo (sempre que for classe, puxar com . antes) */
header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 5px;
}

/* Configurações nav - menu */
header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;

}
/* Mudar a cor da fonte quando passar o mouse */
header nav a:hover{
    color: #FFF;
}

/*Filme Principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/capa-house.jpg');
    height: 400px;
    /*pra imagem cobrir o tamanho da caixa*/
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;


}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    /*Margens internas*/
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .5s ease all;
}

.botao:hover{
    background-color:white;
    color:black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 60%;
}

.box-filme{
    width: 100%;
    height: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
}


